*
{
	margin:0;
}
/*fuente de letra*/
@font-face{
    font-family:"Dancing Script OT";
    src:url('font/DancingScript-Regular.otf');
}

body{
	background:   #02010a;
	color: black;
	font-size: 16px;
	font-family: "Dancing Script OT";
}

#contenido
{
	width: 900px;
	margin: 0 auto;
    
}

header
{
	margin: 0 auto;
	background-color: #5b7989;
	color: white;
    
    border-radius:  10px 10px 0 0;
}

footer{
    clear: both;
    background-color:  #C6d5c5;
    border-radius: 0 0 10px 10px;
}
.lista{
    list-style-type: none;
}


article
{
	box-sizing: border-box;
	float:left;
    background-color: #d5c75f;
	padding: 2%;
	text-align: center;
	
}
/*efectos*/
.efecto1{
    -webkit-filter:blur(10px);
    filter:blur(10px);
}
.efecto2{
    -webkit-filter:grayscale(100%);
    filter:grayscale(100%);
}
.efecto3{
    -webkit-filter:sepia(90%);
    filter:sepia(90%);
}

h1{
    text-shadow: 2px 2px #02010a;
}
/*menu */
.menuprincipal{
    display: flex;
    flex-flow: row;
}
.menu1{
    width: 50%
    
}

.menu2{
    width: 50%
}
.menu2 ul li{
    display: inline;
}
.activo{
    text-decoration: none;
}
/*fin menu*/

#imgprincipal
{
background-color: #82c3a6;
width: 100%;

}

/*seccciones*/
#imgretrato
{
background-color:  #d5c75f;
width: 50%;
}
#imgpaisaje
{
background-color:  #d5c75f;
width: 50%;
}
/*retratos*/
#retrato1{
    width: 33.3%;
}
#retrato2{
    width: 33.3%;
}
#retrato3{
    width: 33.3%;
}
#retrato4{
    width: 33.3%;
}
#retrato5{
    width: 33.3%;
}
#retrato6{
    width: 33.3%;
}

/*paisajes*/
.galeria{
    display: flex;
    flex-flow: row
}
.imagen1{
    width: 33.3%
}
.imagen2{
    width: 33.3%
}
.imagen3{
    width: 33.3%
}
.imagen4{
    width: 33.3%
}
.imagen5{
    width: 33.3%
}
.imagen6{
    width: 33.3%
}




/*organisacion de footer*/
.footer{
    display: flex;
    flex-flow: row;
}
.footer1{
    width: 25%;
}
.footer2{
    width: 25%;
}
.footer3{
    width: 25%;
}
.footer4{
    width: 25%;
}
/*fin footer*/

@media screen and (max-width: 900px){

	#contenido
	{
		width: 100%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 480px){

#contenido
	{
		width: 100%;
		margin: 0 auto;
	}
#imgretrato
{

width: 100%;
}
#imgpaisaje
{

width: 100%;
}

#retrato1{
    width: 100%;
}
#retrato2{
    width: 100%;
}
#retrato3{
    width: 100%;
}
#retrato4{
    width: 100%;
}
#retrato5{
    width: 100%;
}
#retrato6{
    width: 100%;
}
    
#paisaje1{
    width: 100%;
}
#paisaje2{
    width: 100%;
}
#paisaje3{
    width: 100%;
}
#paisaje4{
    width: 100%;
}
#paisaje5{
    width: 100%;
}
#paisaje6{
    width: 100%;
}

}
