*
{
	margin:0;
}
/*fuente de letra*/
@font-face{
    font-family:"Dancing Script OT";
    src:url('font/DancingScript-Regular.otf');
}

body{
	background:   #02010a;
	color: black;
	font-size: 16px;
	font-family: "Dancing Script OT";
}

#contenido
{
	width: 900px;
	margin: 0 auto;
    animation: movimiento 3s;
    
}

header
{
	margin: 0 auto;
	background-color: #5b7989;
	color: white;
    
    border-radius:  10px 10px 0 0;
}

footer{
    clear:left;
    background-color:  #C6d5c5;
    border-radius: 0 0 10px 10px;
}
.lista{
    list-style-type: none;
}


article
{
	box-sizing: border-box;
	float:left;
    background-color: #d5c75f;
	padding: 2%;
	text-align: center;
	
}
/*efectos imagenes*/
.efecto1{
    -webkit-filter:blur(10px);
    filter:blur(10px);
}
.efecto2{
    -webkit-filter:grayscale(100%);
    filter:grayscale(100%);
}
.efecto3{
    -webkit-filter:sepia(90%);
    filter:sepia(90%);
}

h1{
    text-shadow: 2px 2px #02010a;
}
/*menu */
.menuprincipal{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
.menu1{
    width: 50%
    
}

.menu2{
    width: 50%
}
.menu2 ul li{
    display: inline;
}
/*fin menu*/

#imgprincipal
{
background-color: #82c3a6;
width: 100%;

}

/*seccciones*/
#imgretrato
{
background-color:  #d5c75f;
width: 50%;
}
#imgpaisaje
{
background-color:  #d5c75f;
width: 50%;
}


.activo{
    text-decoration: none;
}
/*organisacion de footer*/
.footer{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

/*fin footer*/
/*efectos*/
#imgpaisaje img:hover{
    transform: rotate(10deg);
    box-shadow:  #82c3a6;
    border: 2px

}
#imgretrato img:hover{
    transform: translate(20px,-5px);
    box-shadow:  #82c3a6;
    border: 2px
}

/*fin de efecto*/
/*animaciones*/
@-webkit-keyframes movimiento{
    0%{
        margin-top: 150%
    }
    60%{
        margin-top: -5%
    }
    100%{
        0%
    }
    
}
/*animinaciones*/

@media screen and (min-width: 900px){
    .footer1{
        width: 25%;
    }
    .footer2{
        width: 25%;
    }
    .footer3{
        width: 25%;
    }
    .footer4{
        width: 25%;
    }
    /*retratos*/
    #retrato1{
        width: 33.3%;
    }
    #retrato2{
        width: 33.3%;
    }
    #retrato3{
        width: 33.3%;
    }
    #retrato4{
        width: 33.3%;
    }
    #retrato5{
        width: 33.3%;
    }
    #retrato6{
        width: 33.3%;
    }

    /*paisajes*/
    #paisaje1{
        width: 33.3%;
        order: 1;
    }
    #paisaje2{
        width: 33.3%;
        order: 2;
    }
    #paisaje3{
        width: 33.3%;
        order: 3;
    }
    #paisaje4{
        width: 33.3%;
        order: 4;
    }
    #paisaje5{
        width: 33.3%;
        order: 5;
    }
    #paisaje6{
        width: 33.3%;
        order: 6;
    }

}

@media screen and (max-width: 900px){

    #contenido
        {
            width: 100%;
            margin: 0 auto;
        }
    #imgretrato
    {

    width: 100%;
    }
    #imgpaisaje
    {

    width: 100%;
    }

    #retrato1{
        width: 100%;
    }
    #retrato2{
        width: 100%;
    }
    #retrato3{
        width: 100%;
    }
    #retrato4{
        width: 100%;
    }
    #retrato5{
        width: 100%;
    }
    #retrato6{
        width: 100%;
    }

    #paisaje1{
        width: 100%;
    }
    #paisaje2{
        width: 100%;
    }
    #paisaje3{
        width: 100%;
    }
    #paisaje4{
        width: 100%;
    }
    #paisaje5{
        width: 100%;
    }
    #paisaje6{
        width: 100%;
    }
    .footer1{
        width: 100%;
    }
    .footer2{
        width: 100%;
    }
    .footer3{
        width: 100%;
    }
    .footer4{
        width: 100%;
    }
    .menu1{
        width: 100%;
        order: 1;

    }

    .menu2{
        width: 100%;
        order: 2;
    }

}
